body{
    margin-left: 50%;
    margin-top: 20%;
}
.box{
    width: 100px;
    height: 100px;
    background-color:#5E5;
    border-radius: 10px;
    text-align:center;
    line-height: 100px;
    animation-name: box;
    animation-duration: 1.5S;
    animation-iteration-count: infinite;
}
@keyframes box{
    0%{
        background-color:#5E5;
        border-radius: 10px;
    }
    50%{
        background-color:#F34;
        border-radius: 50px;
    }
    100%{
        background-color:#5E5;
        border-radius: 10px;
    }
    
}